
cinema/.vscode/launch.json
.vscode/tasks.json
.vscode/launch.json
cinema/.DS_Store
cinema/bin/.DS_Store
cinema/.vscode/tasks.json
cinema/bin/Debug/.DS_Store
cinema/bin/Debug/netcoreapp3.1/cinema.deps.json
cinema/bin/Debug/netcoreapp3.1/cinema.dll
cinema/bin/Debug/netcoreapp3.1/cinema.exe
cinema/bin/Debug/netcoreapp3.1/cinema.pdb
cinema/bin/Debug/netcoreapp3.1/cinema.runtimeconfig.dev.json
cinema/bin/Debug/netcoreapp3.1/cinema.runtimeconfig.json
cinema/obj/cinema.csproj.nuget.cache
cinema/obj/cinema.csproj.nuget.dgspec.json
cinema/obj/cinema.csproj.nuget.g.props
cinema/obj/cinema.csproj.nuget.g.targets
cinema/obj/Debug/netcoreapp3.1/cinema
cinema/obj/Debug/netcoreapp3.1/cinema.AssemblyInfo.cs
cinema/obj/Debug/netcoreapp3.1/cinema.AssemblyInfoInputs.cache
cinema/obj/Debug/netcoreapp3.1/cinema.assets.cache
cinema/obj/Debug/netcoreapp3.1/cinema.csproj.CoreCompileInputs.cache
cinema/obj/Debug/netcoreapp3.1/cinema.csproj.FileListAbsolute.txt
cinema/obj/Debug/netcoreapp3.1/cinema.csprojAssemblyReference.cache
cinema/obj/Debug/netcoreapp3.1/cinema.dll
cinema/obj/Debug/netcoreapp3.1/cinema.exe
cinema/obj/Debug/netcoreapp3.1/cinema.genruntimeconfig.cache
cinema/obj/Debug/netcoreapp3.1/cinema.pdb
cinema/obj/project.nuget.cache
cinema/obj/project.assets.json
Projectgroep 3/.DS_Store
.DS_Store
cinema/.vs/cinema/xs/project-cache/cinema-Debug.json
