.vscode/
*bin/
*obj/
*.DS_Store
.vs/projectgroep3/v16/.suo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
cinema/.vs/cinema/v16/.suo
cinema/.vs/cinema/DesignTimeBuild/.dtbcache.v2
cinema/.vs/cinema/xs/project-cache/cinema-Debug.json
